vim.api.nvim_set_hl(0, "Normal", { fg = "{{.foreground}}", bg = "{{.background}}" })
vim.api.nvim_set_hl(0, "Cursor", { fg = "{{.cursor}}", bg = "{{.background}}" })
vim.api.nvim_set_hl(0, "Visual", { fg = "{{.selection}}", bg = "{{.foreground}}" })
vim.api.nvim_set_hl(0, "Error", { fg = "{{.bright_red}}", bg = "{{.background}}" })
vim.api.nvim_set_hl(0, "WarningMsg", { fg = "{{.bright_yellow}}", bg = "{{.background}}" })
vim.api.nvim_set_hl(0, "Comment", { fg = "{{.bright_black}}", bg = "{{.background}}" })
vim.api.nvim_set_hl(0, "Identifier", { fg = "{{.cyan}}", bg = "{{.background}}" })
vim.api.nvim_set_hl(0, "Function", { fg = "{{.blue}}", bg = "{{.background}}" })
vim.api.nvim_set_hl(0, "Statement", { fg = "{{.magenta}}", bg = "{{.background}}" })
vim.api.nvim_set_hl(0, "Type", { fg = "{{.yellow}}", bg = "{{.background}}" })
